* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  text-align: left;
  margin: 0 auto;
  width: 70%;
  max-width: 1500px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #0645ad;
}

.intro {
  font-size: 1.2em;
  text-align: justify;
  font-family: sans-serif;
  line-height: 1.6;
  margin-bottom: 75px;
}

.welcome {
  text-align: right;
}

.linksContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  height: 175px;
  min-width: 150px;
  max-width: 300px;
  line-height: 175px;
  float: left;
  width: 25%;
}

.link a {
  width: 150px;
  display: block;
  margin: 0 auto;

}

.image {
  width: 150px;
  display: inline-block;
  text-align: center;
}

img {
  vertical-align: middle;
  text-align: center;
}

.footerText {
  font-family: sans-serif;
  text-align: center;
  border-top: .5px solid lightgray;
  font-size: 12px;
  padding: 20px 60px;
}

.footerLinks {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footerLink1 {
  margin-right: 20px;
}

.footerLink2 {

}
